; hpStack_WB Configuration Editor; Created on release #WB.16.01.0004

; Ver #0b:34.59.14.29.eb.8f.fc.f3.ff.37.2d:d5



stacking

   member 1 type "J9727A" mac-address 7446a0-ff78c0

   member 2 type "J9727A" mac-address 7446a0-ffc440

   exit

hostname "{{ device.sysname }}"

no rest-interface

include-credentials

{% for users in netglobal.users %}
password manager user-name "{{  users.username }}    plaintext "{{ users.password }}"
{%  endfor %}

power-over-ethernet pre-std-detect ports 1/1-1/24,2/1-2/24

{% for server in netglobal.sflow %}
sflow {{ server.serverid }} destination {{ server.ipaddress }}
{%  endfor %}

sflow 1 polling 1/1-1/24,2/1-2/24 20

sflow 1 sampling 1/1-1/24,2/1-2/24 1000

ip default-gateway 10.10.10.1

ip route 0.0.0.0 0.0.0.0 10.11.10.1

interface 1/24

   name "2920 - 3800_2"

   exit

snmp-server community "{{ netglobal.snmp.read }}" unrestricted

snmp-server community "{{  netglobal.snmp.write }}" unrestricted
{%  for server in netglobal.snmp.trap %}
snmp-server host {{ server.target }} community "{{ server.community }}"
{% endfor %}
snmp-server contact "{{ branch.snmp.syscontact }}" location "{{ branch.snmp.syslocation }}"

{% if device.openflow %}
openflow

   controller-id {{ device.openflow.controllerid }} ip {{ device.openflow.controllerip }} controller-interface vlan {{ device.openflow.controllerinterfacevlan }}

    {% for instance in device.openflow.instances %}
   instance "{{ instance.name }}"

      member vlan {{ instance.membervlan }}

      controller-id {{ instance.controllerid }}

      version {{ instance.version }}

      connection-interruption-mode {{ instance.connectioninterruptionmode }}

      enable

      exit{% endfor %}

   enable

   exit
{% endif %}

oobm

   ip address 10.101.0.226 255.255.255.0

   ip default-gateway 10.101.0.1

   member 1

      ip address dhcp-bootp

      exit

   member 2

      ip address dhcp-bootp

      exit

   exit

vlan 1

   name "DEFAULT_VLAN"

   no untagged 1/1-1/12,2/1-2/12

   untagged 1/13-1/24,2/13-2/24

   no ip address

   exit

{%  for interface in device.svis %}
vlan {{ interface.vlanid }}

   name "{{ interface.description }}

   tagged {{ device.vlantrunks }}

   ip address {{ interface.ipaddress }} {{  interface.mask }}

   exit
{% endfor %}

spanning-tree

no autorun

no dhcp config-file-update

no dhcp image-file-update



